.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  text-align: justify;
}

.title {
  cursor: pointer;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.description {
  text-indent: 20px;

  &::first-letter {
    font-size: 1.3em;
    font-size: bold;
  }
}
