.details {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 40%;

  font-weight: bold;
  text-align: center;

  border-left: 1px solid black;
}
