.loaderWrapper {
  position: absolute;
  z-index: 1000;
  inset: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(3px);

  .loader {
    $loader-size: 60px;

    z-index: 100;

    width: $loader-size;
    height: $loader-size;

    border: 5px solid black;
    border-right-color: transparent;
    border-radius: 50%;

    animation: loader-rotate 1.2s linear infinite;
  }
}

@keyframes loader-rotate {
  100% {
    rotate: 360deg;
  }
}
