.pages {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 60%;
  padding: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  width: 40%;
  padding-top: 105px;

  font-weight: bold;
  text-align: center;

  border-left: 1px solid black;
}

.header {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.searchButton {
  background-color: limegreen;
}

.crashButton {
  background-color: crimson;
}
